.avocado {
  overflow: inherit;
}
.avocado__body {
  animation: body 2s infinite;
  transform-origin: bottom;
}
.avocado__leg {
  animation: legs 1s infinite;
  transform-origin: bottom;
}

@keyframes legs {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0.7);
  }
}
@keyframes body {
  0% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(13px) rotate(2deg);
  }
  50% {
    transform: translateY(0) rotate(0);
  }
  75% {
    transform: translateY(13px) rotate(-2deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
.avocado_1 {
  fill: #637b00;
}

.avocado_2 {
  opacity: 0.3;
}

.avocado_3 {
  fill: #dfe264;
}

.avocado_4 {
  fill: #bfa34c;
}

.avocado_5 {
  opacity: 0.2;
}

.avocado_6 {
  fill: #191919;
}

.avocado_7 {
  opacity: 0.1;
}
